* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Anonymous Pro", monospace;
  background: rgb(185, 180, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
i,
svg {
  pointer-events: none;
}
.sequencer {
  width: 100vw;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: rgb(131, 122, 255);
  margin-bottom: 3rem;
}
.kick-track,
.snare-track,
.hihat-track,
.clap-track {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.kick-pad,
.snare-pad,
.hihat-pad,
.clap-pad {
  min-width: 2rem;
  height: 3rem;
  margin: 0 0.3rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(166, 200, 255);
  border: 1px rgb(95, 156, 255) solid;
}

.snare-pad {
  background: rgb(188, 255, 208);
  border: 1px rgb(95, 255, 143) solid;
}
.hihat-pad {
  background: rgb(255, 216, 179);
  border: 1px rgb(255, 172, 95) solid;
}
.clap-pad {
  background: rgb(254, 255, 179);
  border: 1px rgb(240, 226, 31) solid;
}
.kick-pad.active {
  background: rgb(95, 156, 255);
}
.snare-pad.active {
  background: rgb(95, 255, 143);
}
.hihat-pad.active {
  background: rgb(255, 172, 95);
}
.clap-pad.active {
  background: rgb(240, 226, 31);
}

.kick,
.snare,
.hihat,
.clap {
  display: flex;
  flex-grow: 3;
  justify-content: space-evenly;
}

.controls {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 1rem;
}
.controls button {
  padding: 0.93rem;
  border: none;
  background: rgb(131, 122, 255);

  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.mute.active {
  background: rgb(231, 230, 255);
  color: rgb(131, 122, 255);
}

.pad {
  transition: all 0.5s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(160, 153, 255);
  margin: 2rem;
  width: 40vw;
}
.play {
  font-family: "Anonymous Pro", monospace;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background: rgb(131, 122, 255);
  border: 0.5px solid rgb(87, 75, 255);
  color: white;
  border: none;
  cursor: pointer;
}

.tempo {
  width: 90%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  cursor: pointer;
  border: 0.5px solid #696969;
}

input[type="range"]::-webkit-slider-thumb {
  height: 2.5rem;
  width: 1rem;
  background: #837aff;
  cursor: pointer;
  -webkit-appearance: none;
}
.tempo p {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

select {
  padding: 1rem;
  width: 10rem;
  font-family: "Anonymous Pro", monospace;
  font-size: 0.98rem;
  -webkit-appearance: none;
  border: 0.5px solid #696969;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
